
.App {
  text-align: left;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FACC48;
}
.App img{
  width: 30vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.otpInput{
  font-size: clamp(10px,2vw,40px);
  height: clamp(10px,15vw,10vh);
  color: rgb(27, 27, 27);
  font-weight: 500;
}
.loginButton{
  background-color: #914dc9;
  margin-top: 5vh;
  color: white;
  width: 100%;
  border-radius: 4px;
  height: clamp(50px,4vw,90px);
  border: none;
  outline: none;
  box-shadow: 2px 2px 5px rgb(167, 167, 167);
}
.loginButton:hover{
  cursor: pointer;
  background-color:#7f45af;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mainButton{
  width: 20vw;
  height: 10vw;
  border-radius: 10px;
  background-color: #c7ffbc;
  outline: none;
  border: none;
}
.mainButton:hover{
  cursor: pointer;
  background-color: #9df78b;
  box-shadow: 2px 2px 10px #7ab36e;
}